In [ ]:
import csv
import requests
from utils import fetch_and_save_data, fetch_photo_from_path
import pandas as pd

In [ ]:
tags = ["street warsaw", "street people", "festival", "people outside", "rain", "winter in the city", "summer in the city", "street festival", "people countryside", "men outside", "women outside", "street new york", "street los angeles", "crowded street"]

In [ ]:
#for tag in tags:
#    fetch_and_save_data(tag, 500)

In [ ]:
df = pd.read_csv("flickr_data1.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2791 entries, 0 to 2790
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   2791 non-null   object
 1   Date Taken  2791 non-null   object
 2   Latitude    2791 non-null   float64
 3   Longitude   2791 non-null   float64
 4   tag         2791 non-null   object
dtypes: float64(2), object(3)
memory usage: 109.2+ KB

In [ ]:
df1 = pd.read_csv("flickr_data.csv")

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   979 non-null    object
 1   Date Taken  979 non-null    object
 2   Latitude    979 non-null    float64
 3   Longitude   979 non-null    float64
 4   tag         979 non-null    object
dtypes: float64(2), object(3)
memory usage: 38.4+ KB

In [ ]:
df_merged = pd.concat([df, df1], ignore_index = True)

In [ ]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3770 entries, 0 to 3769
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   3770 non-null   object
 1   Date Taken  3770 non-null   object
 2   Latitude    3770 non-null   float64
 3   Longitude   3770 non-null   float64
 4   tag         3770 non-null   object
dtypes: float64(2), object(3)
memory usage: 147.4+ KB

In [ ]:
df = df_merged.drop_duplicates()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1651 entries, 0 to 3769
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   1651 non-null   object
 1   Date Taken  1651 non-null   object
 2   Latitude    1651 non-null   float64
 3   Longitude   1651 non-null   float64
 4   tag         1651 non-null   object
dtypes: float64(2), object(3)
memory usage: 77.4+ KB

In [ ]:
df["Photo URL"].nunique()

1645

In [ ]:
df.drop_duplicates(subset=['Photo URL'], inplace=True)

/tmp/ipykernel_42100/3262339547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['Photo URL'], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1645 entries, 0 to 3769
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   1645 non-null   object
 1   Date Taken  1645 non-null   object
 2   Latitude    1645 non-null   float64
 3   Longitude   1645 non-null   float64
 4   tag         1645 non-null   object
dtypes: float64(2), object(3)
memory usage: 77.1+ KB

In [ ]:
df

,Photo URL,Date Taken,Latitude,Longitude,tag
0,https://live.staticflickr.com/65535/5364466156...,2024-04-03 01:00:03,0.0,0.0,street photography
1,https://live.staticflickr.com/65535/5364510244...,2023-05-05 19:53:29,0.0,0.0,street photography
2,https://live.staticflickr.com/65535/5364492362...,2024-04-10 05:25:15,0.0,0.0,street photography
3,https://live.staticflickr.com/65535/5364458762...,2023-01-11 16:06:00,0.0,0.0,street photography
4,https://live.staticflickr.com/65535/5364501548...,2024-04-06 13:15:45,0.0,0.0,street photography
...,...,...,...,...,...
3765,https://live.staticflickr.com/65535/5362560430...,2024-02-24 12:04:08,0.0,0.0,street photography
3766,https://live.staticflickr.com/65535/5362592869...,2024-02-24 12:04:02,0.0,0.0,street photography
3767,https://live.staticflickr.com/65535/5362560273...,2024-02-24 12:03:13,0.0,0.0,street photography
3768,https://live.staticflickr.com/65535/5362579744...,2024-02-24 12:02:29,0.0,0.0,street photography
3769,https://live.staticflickr.com/65535/5362579572...,2024-02-24 12:01:55,0.0,0.0,street photography

In [ ]:
((df['Latitude'] != 0) & (df['Longitude'] != 0)).sum()

176

In [ ]:
import cv2

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("flickr_data.csv")

In [6]:
from project2 import ImageClassification

for x in range(0,10):
    img_path = df.iloc[x]["Photo URL"]
    ind = x
    img_class = ImageClassification(image_url = img_path, idnr = ind)

Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
Saving a human
1 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
Saving a human
1 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
Saving a human
Saving a human
2 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
Saving a human
Saving a human
2 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.
Model loaded successfully.
0 images have been saved to /home/milena/Desktop/hackathon/thejackieproject\output_folder.